<div class="about-wallpaper"></div>
<h2 class="display-4 about-title primary-animation no-select"><strong>About Me</strong></h2>
<div class="about lead primary-animation no-select">
  <img src="/img/profile.png" class="profile-picture">
  <p>
  Hi! I'm <strong>Daniel</strong> - I am currently a student at Oregon State University majoring in computer science. Previously, I had earned a B.S. in Biochemistry from the University of California, San Diego (UCSD) and worked seven years in the biotech industry working with recombinant proteins and antibodies. My most enjoyed hobby is playing MMORPG games on console and PC. During the early COVID pandemic, I experimented and tried to create my own RPG game in Python/Pygame and ultimately this lead me to develop an interest in studying computer science and studying for a second degree. 
  </p>
  <br>
  <p>Some technology and tools I am currently studying:</p>
  <ul>
    <li>UNIX</li>
    <li>C Language</li>
    <li>Rust</li>
    <li>MySQL / Databases</li>
  </ul>

  <p>I am current seeking internships to help develop my skills and experience in the tech industry.</p>
  <p>My resume:</p>

  <button type="button" class="btn btn-dark">
    <a href="/img/resume.pdf" target="_blank">View</a>
  </button>
  <button type="button" class="btn btn-dark">
    <a href="/img/resume.pdf" download>Download</a>
  </button>
</div>
