<div class="blog-wallpaper"></div>
<div class="time-line-div primary-animation no-select">

	<div class="center-div">
		<h2 id="time-line-header"><strong>My Boring Blog</strong></h2>
	</div>
	

	<ul>
		<li class="sword">
			<span>
				<p class="entries"><strong>12/23/2020</strong> - Roughly half way through winter break and not much going on today. It's two days before xmas, and I'm just updating my personal website and playing Path of Exile but having the worse rng ever...</p>
			</span> 
		</li>

		

	</ul>

</div>
<div class="blog-wallpaper"></div>

		

	
