<div class="contact-wallpaper"></div>
<div class="contact primary-animation no-select">
  <h1><strong>Feel free to reach out to me!</strong></h1>
  <a href="https://github.com/yu-daniel">GitHub</a>
  <a href="mailto:yudan@oregonstate.edu">E-mail</a>
</div>