<div class="project-wallpaper"></div>
<p class="project-title primary-animation no-select"><strong>My Projects</strong></p>


<div class="container primary-animation no-select">

	<div class="row">
		
		<div class="container col-md-4 col-md-offset-1">

			<div class="card project-container" style="width:400px">
		    	<img class="card-img-top" src="/img/lightup2.png" alt="Card image" style="width:100%">
			    <div class="card-body">
					<h4 class="card-title"><strong>Light Up</strong></h4>
					<p class="card-text">Light Up is a Japanese logical puzzle.</p>
					<p class="card-text">Python • Pygame • GUI</p>
					<a href="https://github.com/yu-daniel/Light-Up" class="btn btn-warning">Details</a>
			    </div>
		    </div>

			<div class="card project-container" style="width:400px">
		    	<img class="card-img-top" src="/img/poefansite.png" alt="Card image" style="width:100%">
			    <div class="card-body">
					<h4 class="card-title"><strong>PoE Fansite</strong></h4>
					<p class="card-text">My fansite for the popular action-RPG game, Path of Exile, developed and published by 
					New Zealand company, Grinding Gear Games.</p>
					<p class="card-text"><span>HTML • CSS • Javascript • Bootstrap</span><span>Node.js • Express</span></p>
					<a href="https://github.com/yu-daniel/PoE-Fansite" class="btn btn-warning">Details</a>
			    </div>
		    </div>
			<div class="card project-container" style="width:400px">
		    	<img class="card-img-top" src="/img/macromachine.png" alt="Card image" style="width:100%">
			    <div class="card-body">
					<h4 class="card-title"><strong>Macro-Machine</strong></h4>
					<p class="card-text">Designing low-level I/O Procedures</p>
					<p class="card-text">x86 Assembly Language • Macros</p>
					<a href="https://github.com/yu-daniel/Macro-Machine" class="btn btn-warning">Details</a>
			    </div>
		    </div>

		</div>

		<div class="container col-md-4 col-md-offset-1">

			<div class="card project-container" style="width:400px">
		    	<img class="card-img-top" src="/img/dstracker.png" alt="Card image" style="width:100%">
			    <div class="card-body">
					<h4 class="card-title"><strong>DSTracker</strong></h4>
					<p class="card-text">Light weight app that store stock ticker, prices, and other info.</p>
					<p class="card-text">Python • Tkinker • GUI • API</p>
					<a href="https://github.com/yu-daniel/DSTracker" class="btn btn-warning">Details</a>
			    </div>
		    </div>

			<div class="card project-container" style="width:400px">
		    	<img class="card-img-top" src="/img/personal-website.png" alt="Card image" style="width:100%">
			    <div class="card-body">
					<h4 class="card-title"><strong>Personal Website</strong></h4>
					<p class="card-text"><span>HTML • CSS • JavaScript • Bootstrap</span><span>Node.js • Express • Heroku</span></p>
					<a href="https://daniels-website.herokuapp.com//" class="btn btn-warning">Details</a>
			    </div>
		    </div>
		<!-- </div> -->
			<div class="card project-container" style="width:400px">
		    	<img class="card-img-top" src="/img/gess.png" alt="Card image" style="width:100%">
			    <div class="card-body">
					<h4 class="card-title"><strong>Gess</strong></h4>
					<p class="card-text">Gess is board game that is combination of Chess/Go.</p>
					<p class="card-text">Python</p>
					<a href="https://github.com/yu-daniel/Gess-Puzzle" class="btn btn-warning">Details</a>
			    </div>
		    </div>

		</div>
	</div>



</div>












